*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 1.5em auto;
}

tr,
td {
  border: 1px solid #1fd5e0;
  padding: 0.5em;
}

header {
  background-color: #1fd5e0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: lightcyan;
}

button {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  color: rgb(31, 213, 224);
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}
